<h1>Admin::Genres#index</h1>
<p>Find me in app/views/admin/genres/index.html.erb</p>

<h2>ジャンル一覧・追加</h2>

<%= form_with model: @genre, url: user_session_path, local: true do |f| %> 
  <div class="field">
    <%= f.label :ジャンル名 %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>
  
  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>


<% end %>